<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/footie-lights.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/index-mobile.css">
<title> Footie-Lights: Lastest Football Highlights </title>
</head>
<body>

	<% let competitionArr = new Set(); 
	
	 result.map((compName) => {
		let { competition } = compName;
		competitionArr.add(competition.slice(competition.search(":") + 1, competition.length).trim());
	});
	
	 let hightlightBox = () => { 
	
	 for(let compName of competitionArr) { %>
	 
	 <div class="match-highlight-box-cont">
				
		<div class="match-highlight-title-cont">
		
			<h1>
				<a href="<%= `${ req.url }${ compName }` %>"> <%= compName %> </a> 
			</h1>
		
		</div>
							
		<% for(let matchObj of result) { 
			let { title, competition, date, videos } = matchObj;
		
				 if(compName === competition.slice(competition.search(":") + 1, competition.length).trim()){ 
				 %>
				
						<div class="match-highlight-teams-cont">
						
							<div class="match-highlight-teams">
							
								<span> <%= title %> </span>
								<span> <%= dateFormater(date) %> </span>
							
							</div>
							
							<div class="match-highlight-vid-cont">
							
							<% let vids = [...videos.map(JSON.stringify)].map(JSON.parse); 
							%>
								<%= vids[0].embed %>
								
							</div>
						
						</div>
					
						
				
				<% } 

		 } %>
	</div>
	<% } %>
	
	<% } %>
	
	<header>

		<div class="header-cont">
			
			<div class="header">
				
				<div class="header-logo-cont">
					
					<div class="logo-cont-cont">
						
						<div class="logo-cont">
						
							<a href="/">
								<img src="/Images/footie-lights.png" class="header-logo">
							</a>
						
						</div>
					
					</div>
					
					<div class="site-title-cont">
					
						<h1>
							<a href="/">Footie Lights</a>
						</h1>
					
					</div>
					
				</div>

			</div>
			
		</div>

	</header>
	
	<div class="Highlights-info-cont">
	
		<div class="football-league-info-cont">
			
			<div class="match-highlights-cont">
			
				<div class="search-engine-cont">
					
					<input type="search" name="search-input" placeholder="Search for match or team..." class="search-input">
					
					<button class="search-btn">
						<i class="fa fa-search"></i>
					</button>
					
				</div>
				
				<% hightlightBox(); %>
			
			</div>
			
			<nav class="football-league-nav-cont">
			
				<div class="side-bar-cont">
					
					<div class="side-bar-contents-cont">
					
						<ul class="side-bar-list-cont">
							
							<div class="list-title-cont">
							
								<h1> Competitions </h1>
							
							</div>
							
							<% for(let competition of competitionArr) { %>
							
								<li class="list-links"> 
									<a href="<%= `${ req.url }${ competition }` %>"> <%= competition %></a> 
								</li>

							<% } %>
						
						</ul>
					
					</div>
				
				</div>
			
			</nav>
			
		</div>
	
	</div>
	
	<script src="/JS/index.js"></script>
</body>
</html>