<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/Images/footie-lights.png">
<link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/index-mobile.css">
<title> Footie-Lights: Lastest Football Highlights </title>
</head>
<body>

<div class="load-cont" id="load-cont">
  <div class="loading-cont">

	  <div class="loading">	

	  </div>

  </div>
</div>

	<% let competitionArr = new Set(); 
	
	 result.map((compName) => {
		let { competition } = compName;
		competitionArr.add(competition);
	});
	
	 let hightlightBox = () => {
	
	 for(let compName of competitionArr) { %>
	<div class="match-highlight-box-cont-cont">
		
		<div class="show-more-btn">
			<h4>Show More</h4>
		</div>
		
		<div class="match-highlight-box-cont">
					
			<div class="match-highlight-title-cont">
			
				<h1>
					<a href="/<%= `${ compName }` %>"> <%= compName %> </a> 
				</h1>
			
			</div>
								
			<% for(let matchObj of result) { 
				let { title, competition, date, videos } = matchObj;
					
					 if(compName === competition){ 
					 %>
						
							<div class="match-highlight-teams-cont">
							
								<div class="match-highlight-teams">
								
									<span> <%= title %> </span>
									<span> <%= dateFormater(date) %> </span>
								
								</div>
								
								<div class="match-highlight-vid-cont">
								
								<% let vids = [...videos.map(JSON.stringify)].map(JSON.parse); 
								%>
									<%= vids[0].embed %>
									
								</div>
							
							</div>

					<% } 

			 } %>
		</div>
	</div>
	<% } %>
	
	<% } %>
	
	
	<% 
	
	let hightlightBoxFilter = () => {
	   let count = 0;
	   let { competition } = req.params;
	   let compName = competition;
	%>
	
	<div class="match-highlight-box-cont-cont">
	
		<div class="show-more-btn">
			<h4>Show More</h4>
		</div>
	
		<div class="match-highlight-box-cont">
			
			<div class="match-highlight-title-cont">
				
				<h1>
					<a href="<%= `${ compName }` %>"> <%= compName %> </a> 
				</h1>
				
			</div>
			
			<% for(let matchObj of result) {
			
				let { title, competition, date, videos } = matchObj;
			
					 if(compName === competition){ 
					 %>
						
							<div class="match-highlight-teams-cont">
							
								<div class="match-highlight-teams">
								
									<span> <%= title %> </span>
									<span> <%= dateFormater(date) %> </span>
								
								</div>
								
								<div class="match-highlight-vid-cont">
								
								<% let vids = [...videos.map(JSON.stringify)].map(JSON.parse); 
								%>
									<%= vids[0].embed %>
									
								</div>
							
							</div>

					<% }

			 } %>
			 
		</div>
		
	</div>
	
	<% } %>
	
	
	<header>

		<div class="header-cont">
			
			<div class="header">
				
				<div class="header-logo-cont">
					
					<div class="logo-cont-cont">
						
						<div class="logo-cont">
						
							<a href="/">
								<img src="/Images/footie-lights.png" class="header-logo">
							</a>
						
						</div>
					
					</div>
					
					<div class="site-title-cont">
					
						<h1>
							<a href="/">Footie Lights</a>
						</h1>
					
					</div>
					
				</div>
				
				
				<div class="mobile-nav">
					<div class="menu-toggle-cont-cont" id="menu-toggle-cont-cont">
						<div class="menu-toggle-cont" id="menu-toggle-cont">
						
							<div class="menu-toggle top"></div>
							<div class="menu-toggle mid"></div>
							<div class="menu-toggle bottom"></div>
						
						</div>
					</div>
	
				</div>
			</div>
			
		</div>

	</header>
	
	<div class="Highlights-info-cont" id="Highlights-info-cont">
	
		<div class="football-league-info-cont">
			
			<div class="match-highlights-cont">
				
					<% if(Object.keys(req.params).length === 0){ %> 
					<div class="search-engine-box-cont">
						<div class="search-engine-box-title-cont">
						
							<h3> Lastest Football Highlights </h3>
							
						</div>
						
						<div class="search-engine-cont">
							
							<input type="search" name="search-input" placeholder="Search for team..." class="search-input" id="search-input">
							
							<button class="search-btn" id="search-btn">
								<i class="fa fa-search"></i>
							</button>
							
						</div>
						</div>
					<% }else{ 
					
					 let { competition } = req.params;
					%> 
						<div class="search-engine-box-cont" style="padding: 0;">
							<div class="search-engine-box-title-cont">
							
								<h1 class="competition-title"> <%= competition %> </h1>
								
							</div>
						</div>
				<%	} %>
				
				
				
				<% 
				
				if(Object.keys(req.params).length === 0){
					
					hightlightBox(); 
					
				}else{
					
					hightlightBoxFilter();
					
				}
				
				%>
				

				<div class="notFound-cont" id="notFound-cont">
		
					<div class="notFound-msg-cont">
						
						<h1 id="notFound-msg">
							<a> NOTHING FOUND. SEE ALL <%= result.length %> GAMES › </a> 
						</h1>
						
					</div>
					
					
				</div>
				
				
			
			</div>
			
			<nav class="football-league-nav-cont" id="football-league-nav-cont">
			
				<div class="side-bar-cont">
					
					<div class="side-bar-contents-cont">
					
						<ul class="side-bar-list-cont">
							
							<div class="list-title-cont">
							
								<h1> Competitions </h1>
							
							</div>
							
							<% 
							
							let alpabeticalOrderedArr = []
							for(let competition of competitionArr) { 
							
									alpabeticalOrderedArr.push(competition);

							} %>
							
							
							<% alpabeticalOrderedArr.sort().map((competition) => { %>
							<%
								
							let league = competition.slice(competition.search(":") + 1, competition.length) 
							let Country = competition.slice(0, 1).trim() + competition.slice(1, competition.search(":") + 1).toLowerCase() 
							
							%>
							
								<li class="list-links"> 
									<a href="<%= `/${ competition }` %>"> <%= Country + league %></a> 
								</li>

							<% }) %>
						
						</ul>
					
					</div>
				
				</div>
			
			</nav>
			
		</div>
	
	</div>
	
	<div class="scrollTop-cont" id="scrollTop-cont">

		<i class="fa fa-arrow-right"></i>

	</div>
	
	<script src="/JS/index.js"></script>
</body>
</html>